<h1>Answer</h1>

<blockquote class="blockquote mb-0">
  <p><%= @query %></p>
  <footer class="blockquote-footer">You</cite></footer>
</blockquote>

<blockquote class="blockquote mb-0" id='coach-answer'>
  <p><%= @answer %></p>
  <footer class="blockquote-footer">Coach</cite></footer>
</blockquote>

<br>

<%= link_to "Ask a new question", "ask" %>
